@import '../../vars';

.login {
  border-radius: 5px;
  position: absolute;
  padding: 15px 25px;
  top: 50%;
  left: 50%;
  background-color: $dark3;
  width: 300px;
  height: 300px;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.20);
  transform: translateX(-50%) translateY(-50%);

  &-title {
    margin-bottom: 35px;
    text-align: center;
  }

  input {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &-form-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    button {
      width: 48%;
    }
  }
}
