@import './vars.scss';
@import '~rc-tooltip/assets/bootstrap.css';

* { box-sizing: border-box; }

html, body, #react-root, #app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: $dark2;
  color: #fff;
}

input {
  font-family: inherit;
  background-color: $dark4;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  outline: none;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 35px;
  line-height: 25px;
  display: block;
  border: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  outline: none;
  appearance: none;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 35px;
  line-height: 25px;
  border-radius: 5px;
  background-color: $dark4;
  color: #fff;
  border: none;
  text-align: center;
  width: 100%;
}

a, a:hover, a:visited {
  color: $blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.app-incompatible {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.rc-tooltip {
  opacity: 1;
  font-size: 14px;

  &-inner {
    background-color: lighten(#000, 3);
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(lighten(#000, 3), 0.3);
  }

  &-placement-top &-arrow, &-placement-topLeft &-arrow, &-placement-topRight &-arrow {
    border-top-color: lighten(#000, 3);
  }

  &-placement-right &-arrow, &-placement-rightTop &-arrow, &-placement-rightBottom &-arrow {
    border-right-color: lighten(#000, 3);
  }

  &-placement-left &-arrow, &-placement-leftTop &-arrow, &-placement-leftBottom &-arrow {
    border-left-color: lighten(#000, 3);
  }

  &-placement-bottom &-arrow, &-placement-bottomLeft &-arrow, &-placement-bottomRight &-arrow {
    border-bottom-color: lighten(#000, 3);
  }
}
