@import './vars.scss';

* { box-sizing: border-box; }
html, body, #react-root, #app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: $dark2;
  color: #fff;
}

#app {
}
