@import '../vars';

.server {
  display: flex;
  height: 100%;

  &-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 250px)
  }

  &-header, &-members {
    background-color: $dark1;
  }

  &-chat, &-members {
    height: 100%;
  }

  &-header {
    display: flex;
    line-height: 30px;
    padding: 10px 15px;
    font-size: 18px;
    height: 50px;
    border-bottom: 1px $dark0 solid;

    &-name {
      display: flex;
      align-items: center;

      img {
        margin-left: 5px;
        margin-top: -2px;
        width: 24px;
        height: 24px;
      }
    }

    &-actions {
      display: flex;
      margin-left: auto;
      align-items: center;

      img {
        cursor: pointer;
        width: 24px;
        height: 24px;
        margin-left: 5px;
        margin-right: 5px;
      }

      &-invite {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 45px;
        min-width: 100px;
        padding-right: 15px;
        margin-left: 15px;
        border-right: 1px $dark4 solid;
        font-size: 15px;
        position: relative;

        .loader {
          height: 40px;
          width: 40px;

          svg {
            width: 100%;
            height: 100%;
          }
        }

        span {
          line-height: 18px;
          font-size: 14px;
        }
      }
    }
  }

  &-members {
    padding: 10px 15px;
    border-left: 1px $dark0 solid;
    width: 250px;

    &-item {
      display: flex;
      margin-top: 5px;
      margin-bottom: 5px;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        border-radius: 50%;
        border: 2px $dark4 solid;

        &.online {
          border-color: $green;
        }

        &.offline {
          border-color: $red;
        }
      }
    }
  }

  &-chat {
    display: flex;
    flex-direction: column;

    &-messages {
      flex: 1;
    }

    &-message {
      display: flex;
      padding: 15px 20px;
      border-bottom: 1px lighten($dark4, 10) solid;

      &:last-of-type {
        border-color: transparent;
      }

      &-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 15px;
      }

      &-meta {
        margin-bottom: 5px;
        display: flex;
        align-items: center;

        span {
          font-size: 18px;

          + span {
            margin-top: 1px;
            margin-left: 10px;
            opacity: .6;
            font-size: 14px;
          }
        }
      }

      &-contents {
        margin-top: 2px;
        margin-bottom: 2px;
        flex: 1;

        code {
          font-family: 'Inconsolata', monospace;
          background-color: $dark1;
          border-radius: 10px;
          margin-top: 5px;
          margin-bottom: 5px;
          display: block;
          white-space: pre-wrap;
          border: 1px $dark0 solid;
          padding: 7px;

          &.simple {
            display: inline;
            padding: 3px;
            border-radius: 5px;
          }

          &.mention {
            display: inline;
            padding: 3px;
            border-radius: 0;
            border-color: transparent;
            color: $blue;
          }
        }
      }
    }

    &-text {
      position: relative;
      border-top: 1px $dark4 solid;
      max-height: 168px;
      padding: 5px 0;

      textarea {
        color: #fff;
        font-family: inherit;
        background-color: inherit;
        appearance: none;
        outline: none;
        border: none;
        font-size: 16px;
        line-height: 22px;
        min-height: 40px;
        width: 100%;
        resize: none;
        padding: 8px 10px;
      }

      &-sending {
        display: flex;
        align-items: center;
        position: absolute;
        height: 24px;
        line-height: 18px;
        font-size: 14px;
        background-color: $dark2;
        right: 0;
        padding: 2px 5px;
        top: -25px;

        .loader {
          width: 22px;
          height: 22px;
          left: 0;

          svg {
            width: 22px;
            height: 22px;
          }
        }

        span {
          margin-left: 10px;
        }
      }
    }
  }
}
